aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
lightkube
pytest-operator
pyyaml
requests
tenacity
# Pin to >=0.4.0 because the reusable test infrastructure is on that version and above
# This prevents pip-compile from trying to pin an earlier version
charmed-kubeflow-chisme>=0.4.0
