# Source:  seldon-core/operator/config/manager/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: seldon-config
  namespace: {{ namespace }}
data:
  credentials: |-
    {
       "gcs" : {
           "gcsCredentialFileName": "gcloud-application-credentials.json"
       },
       "s3" : {
           "s3AccessKeyIDName": "awsAccessKeyID",
           "s3SecretAccessKeyName": "awsSecretAccessKey"
       }
    }
  predictor_servers: |-
    {
        "TENSORFLOW_SERVER": {
          "protocols" : {
            "tensorflow": {
              "image": "{{ configmap__predictor__tensorflow__tensorflow__image }}",
              "defaultImageVersion": "{{ configmap__predictor__tensorflow__tensorflow__version }}"
              },
            "seldon": {
              "image": "{{ configmap__predictor__tensorflow__seldon__image }}",
              "defaultImageVersion": "{{ configmap__predictor__tensorflow__seldon__version }}"
              }
            }
        },
        "SKLEARN_SERVER": {
          "protocols" : {
            "seldon": {
              "image": "{{ configmap__predictor__sklearn__seldon__image }}",
              "defaultImageVersion": "{{ configmap__predictor__sklearn__seldon__version }}"
              },
            "v2": {
              "image": "{{ configmap__predictor__sklearn__v2__image }}",
              "defaultImageVersion": "{{ configmap__predictor__sklearn__v2__version }}"
              }
            }
        },
        "XGBOOST_SERVER": {
          "protocols" : {
            "seldon": {
              "image": "{{ configmap__predictor__xgboost__seldon__image }}",
              "defaultImageVersion": "{{ configmap__predictor__xgboost__seldon__version }}"
              },
            "v2": {
              "image": "{{ configmap__predictor__xgboost__v2__image }}",
              "defaultImageVersion": "{{ configmap__predictor__xgboost__v2__version }}"
              }
            }
        },
        "MLFLOW_SERVER": {
          "protocols" : {
            "seldon": {
              "image": "{{ configmap__predictor__mlflow__seldon__image }}",
              "defaultImageVersion": "{{ configmap__predictor__mlflow__seldon__version }}"
              },
            "v2": {
              "image": "{{ configmap__predictor__mlflow__v2__image }}",
              "defaultImageVersion": "{{ configmap__predictor__mlflow__v2__version }}"
              }
            }
        },
        "TRITON_SERVER": {
          "protocols" : {
            "v2": {
              "image": "{{ configmap__predictor__triton__v2__image }}",
              "defaultImageVersion": "{{ configmap__predictor__triton__v2__version }}"
              }
            }
        },
        "HUGGINGFACE_SERVER": {
          "protocols" : {
            "v2": {
              "image": "{{ configmap__predictor__huggingface__v2__image }}",
              "defaultImageVersion": "{{ configmap__predictor__huggingface__v2__version }}"
              }
            }
        },
        "TEMPO_SERVER": {
          "protocols" : {
            "v2": {
              "image": "{{ configmap__predictor__tempo_server__v2__image }}",
              "defaultImageVersion": "{{ configmap__predictor__tempo_server__v2__version }}"
              }
            }
        }
    }
  storageInitializer: |-
    {
        "image" : "{{ configmap_storageInitializer }}",
        "memoryRequest": "100Mi",
        "memoryLimit": "1Gi",
        "cpuRequest": "100m",
        "cpuLimit": "1"
    }
  explainer: |-
    {
        "image" : "{{ configmap_explainer }}",
        "image_v2" : "{{ configmap_explainer_v2 }}"
    }
