# Source: seldon-core-operator/templates/configmap_seldon-config.yaml
apiVersion: v1
# Source: seldon-core-operator/values.yaml
data:
  credentials: >-
    {
      "gcs": {
        "gcsCredentialFileName": "gcloud-application-credentials.json"
      },
      "s3": {
        "s3AccessKeyIDName": "awsAccessKeyID",
        "s3SecretAccessKeyName": "awsSecretAccessKey"
      }
    }
  explainer: '{"image":"seldonio/alibiexplainer:1.14.0"}'
  predictor_servers: >-
    {
      "MLFLOW_SERVER": {
        "protocols": {
          "seldon": {
            "defaultImageVersion": "1.14.0",
            "image": "seldonio/mlflowserver"
          }
        }
      },
      "SKLEARN_SERVER": {
        "protocols": {
          "v2": {
            "defaultImageVersion": "1.1.0-sklearn",
            "image": "seldonio/mlserver"
          },
          "seldon": {
            "defaultImageVersion": "1.14.0",
            "image": "seldonio/sklearnserver"
          }
        }
      },
      "TEMPO_SERVER": {
        "protocols": {
          "seldon": {
            "defaultImageVersion": "1.1.0-slim",
            "image": "seldonio/mlserver"
          }
        }
      },
      "TENSORFLOW_SERVER": {
        "protocols": {
          "seldon": {
            "defaultImageVersion": "1.14.0",
            "image": "seldonio/tfserving-proxy"
          },
          "tensorflow": {
            "defaultImageVersion": "2.1.0",
            "image": "tensorflow/serving"
          }
        }
      },
      "TRITON_SERVER": {
        "protocols": {
          "v2": {
            "defaultImageVersion": "20.08-py3",
            "image": "nvcr.io/nvidia/tritonserver"
          }
        }
      },
      "XGBOOST_SERVER": {
        "protocols": {
          "v2": {
            "defaultImageVersion": "1.1.0-xgboost",
            "image": "seldonio/mlserver"
          },
          "seldon": {
            "defaultImageVersion": "1.14.0",
            "image": "seldonio/xgboostserver"
          }
        }
      }
    }
  storageInitializer: >-
    {
      "cpuLimit": "1",
      "cpuRequest": "100m",
      "image": "seldonio/rclone-storage-initializer:1.14.0",
      "memoryLimit": "1Gi",
      "memoryRequest": "100Mi"
    }
kind: ConfigMap
metadata:
  labels:
    app: seldon
    app.kubernetes.io/instance: seldon-core
    app.kubernetes.io/name: seldon-core-operator
    app.kubernetes.io/version: 1.14.0
    control-plane: seldon-controller-manager
  name: seldon-config
  namespace: {{ namespace }}
