# From helm-charts/seldon-core-operator/templates/service_seldon-webhook-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: seldon-webhook-service
  namespace: '{{ namespace }}'
spec:
  ports:
  - port: {{ webhook_port }}
    targetPort: {{ webhook_port }}
  selector:
    app.kubernetes.io/name: {{ service }}
